{
  "lastChangelogVersion": "0.75.5",
  "defaultProvider": "openrouter",
  "defaultModel": "openrouter/deepseek/deepseek-v4-flash",
  "defaultThinkingLevel": "high",
  "enabledModels": [
    "openrouter/deepseek/deepseek-v4-flash",
    "openrouter/deepseek/deepseek-v4-pro"
  ]
}
